<h2>Math Facts</h2>
<form actions='/math' method='GET'>
    <label>Number</label>
    <input type='text' name='number'>
    <button type='submit'>Get Fact</button>
</form>
<br>
<div><h3>Number: <%= number %></h3></div>
<div><b>Fact:</b> <%= fact %></div>
